<html ng-app>
  <head>
    <title>Welcome Screen!</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <div>
      Very Basic Angular Binding!<br>
      <input type="text" ng-model="name" /><br>
      Welcome {{name}}!
    </div>

    <hr>

  </body>

</html>
